*,
::before,
::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

canvas {
	border: 1px solid black;
	background: gray;
	border-radius: 3px;
	}

img {
  width: 100%;
  height: 100%;  
}

h1, h2, h3 {
  margin: 0;
}

a {
  text-decoration: none !important;
}

.header {
  width: 100%;
  padding: 0px 0;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 24px;
  font-weight: 300;
  color: gray;
}

.hero {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 1230px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.hero__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax( 290px,1fr));
  grid-gap: 20px;
}


.hero__about {
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.hero__title {
  font-size: 48px;
  line-height: 1.1;

  margin-bottom: 20px;
}

.hero__prof {
  color: #4facfe;
  white-space: nowrap;
}

.hero__subtitle {
  font-size: 42px;
  font-weight: 400;
}

.hero__description {
  font-size: 22px;
  font-weight: 400;
}

.hero__links {
  display: flex;
}

.hero__link {
  margin-right: 10px;
  margin-left: 20px;
  font-size: 30px;
  color: #000;
}

.hero__link:hover {
  color: #804f80;
}


.link_pink:visited {
  color: #e69ee6;
}

.link_pink:active {
  color: #fcdffc;
}

.link_pink:hover {
  color: #f7a3f7;
}

.hero__box {
  max-width: 450px;
  justify-self: center;
  overflow: hidden;
  border: 7px solid #e7e7e7;

  background-image: linear-gradient(  45deg, #93a5cf 0%, #e4efe9 100%);


  animation: ava-animate 8s infinite alternate;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, .5);
}

.hero__box-img {
  animation: ava-bg 3s infinite alternate;
}

@media screen and (max-width: 978px) {
  .hero {
    padding-top: 10px;
  }

  .hero__container {
    grid-row-gap: 20px;
  }

  .hero__title {
    font-size: 28px;
    margin-bottom: 10px;
  }

  .hero__subtitle {
    font-size: 22px;
    font-weight: 400;
  }

  .hero__description {
    font-size: 14px;
  }

  .hero__about {
    text-align: center;
  }

  .hero__links {
    justify-content: center;
  }

  .hero__box {
    max-width: 350px;
    justify-self: center;
  }
}



@keyframes ava-animate {

  0% {
    border-radius: 25% 25% 25% 25% / 25% 25% 25% 25%;
  }

  100% {
    border-radius:  94% 6% 93% 7% / 4% 93% 7% 96%;
  }
}

@keyframes ava-bg {
  from {
    backdrop-filter: hue-rotate(0);
  }

  to {
    backdrop-filter: hue-rotate(90deg);
  }
}



.form {
  position: relative;
  width: 500px;
  margin: 0 auto;
  text-align: center;
}

.form_input,
.form_textarea {
  display: block;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 16px;
  padding: 8px 16px;
  transition: transform 0.3s ease-out;
  color: #02f;
  border: none;
  border-radius: 8px;
  outline: none;
  background-color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5em;
  font-weight: 300;
}

.form_input::-webkit-input-placeholder,
.form_textarea::-webkit-input-placeholder {
  opacity: 0.6;
  color: #02f;
}

.form_input:focus,
.form_textarea:focus {
  transition: transform 0.3s ease-out;
  transform: scale(1.02, 1.02);
}

.form_textarea {
  resize: none;
}

.form_button {
  display: inline-block;
  padding: 12px 32px;
  transition: all 0.3s ease-out;
  text-transform: uppercase;
  color: #fff;
  border: none;
  border-radius: 8px;
  outline: none;
  background-color: #02f;
  background-clip: border-box;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5em;
  font-weight: 700;
}

.form_button:hover {
  transition: all 0.3s ease-out;
  transform: scale(1.02, 1.02);
  box-shadow: rgba(255, 255, 255, 0.3) 0 0 16px 2px;
}

.black {
  color: #000;
}

.white {
  color: #fff;
  text-decoration: none
}




span {
	display: inline;
	background-color: rgba(0, 0, 0, 0.5);
	box-shadow: -10px 0 0 rgba(0, 0, 0, 0.5), 350px 0 0 rgba(0, 0, 0, 0.5);
	color: #FFFFFF;

}






.text {

  padding: 10px;
  max-width: 1000px;
 
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.img  {

  display:flex;
  justify-content: center;
  align-items: center;
  height:100%;
  width:100%;}

.info
  {width: 70%;
  margin: 15%;
  height: auto;
  border-radius: 8px;
  border-top: solid silver 0.5px;
  border-right: solid silver 0.5px;
  border-bottom: solid silver 0.5px;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  box-shadow:  4px 4px 8px 1px #535353c2;
  }

.title1
  {font-size: 2em;
  padding-left:50px;
  padding-top:40px;
  padding-bottom:40px ;
  color: rgb(255, 255, 255);
  border-bottom:  silver 0.5px;}


  /*данные*/
.full_name
  {width:95%;
  padding-left:50px;
  padding-bottom: 50px;
  height:auto ;
  font-size: 1.0em;
  border: silver 0.5px;
  color:rgb(255, 255, 255);}


  .full_name2
  {width:95%;
  padding-top:5px;
  padding-left:50px;
  padding-bottom: 5px;
  justify-content: center;
  align-items: center;
  justify-self: center;
  text-align: center;
  height:auto ;
  font-size: 1.0em;
  border: silver 0.5px;
  color:rgb(255, 255, 255);}
