*,
::before,
::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}



img {
  width: 100%;
  height: 100%;
}

h1, h2, h3 {
  margin: 0;
}


.header {
  width: 100%;
  padding: 0px 0;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 24px;
  font-weight: 300;
  color: gray;
}

.hero {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 1230px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.hero__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax( 290px,1fr));
  grid-gap: 20px;
}


.hero__about {
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.hero__title {
  font-size: 48px;
  line-height: 1.1;

  margin-bottom: 20px;
}

.hero__prof {
  color: #4facfe;
  white-space: nowrap;
}

.hero__subtitle {
  font-size: 42px;
  font-weight: 400;
}

.hero__description {
  font-size: 22px;
  font-weight: 400;
}

.hero__links {
  display: flex;
}

.hero__link {
  margin-right: 10px;
  margin-left: 20px;
  font-size: 30px;
  color: #000;
}

.hero__link:hover {
  color: #883d88;
}

.scroll_to_email:hover {
  color: #f7a3f7;
}

.hero__box {
  max-width: 450px;
  justify-self: center;
  overflow: hidden;
  border: 7px solid #e7e7e7;

  background-image: linear-gradient(  45deg, #93a5cf 0%, #e4efe9 100%);


  animation: ava-animate 8s infinite alternate;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, .5);
}

.hero__box-img {
  animation: ava-bg 3s infinite alternate;
}

@media screen and (max-width: 978px) {
  .hero {
    padding-top: 10px;
  }

  .hero__container {
    grid-row-gap: 20px;
  }

  .hero__title {
    font-size: 28px;
    margin-bottom: 10px;
  }

  .hero__subtitle {
    font-size: 22px;
    font-weight: 400;
  }

  .hero__description {
    font-size: 14px;
  }

  .hero__about {
    text-align: center;
  }

  .hero__links {
    justify-content: center;
  }

  .hero__box {
    max-width: 350px;
    justify-self: center;
  }
}



@keyframes ava-animate {
  0% {
    border-radius: 62% 38% 72% 28% / 67% 32% 68% 33%;
  }

  30% {
    border-radius: 51% 49% 46% 54% / 47% 48% 52% 53%;
  }

  60% {
    border-radius: 47% 53% 81% 19% / 81% 81% 19% 19%;
  }

  80% {
    border-radius: 25% 25% 25% 25% / 25% 25% 25% 25%;
  }

  100% {
    border-radius:  94% 6% 93% 7% / 4% 93% 7% 96%;
  }
}

@keyframes ava-bg {
  from {
    backdrop-filter: hue-rotate(0);
  }

  to {
    backdrop-filter: hue-rotate(90deg);
  }
}




.article1 {
  position: relative;
  min-height: 80vh;
  padding: 8px 50px;
}

.article_whitebg1::before,
.article_bluebg1::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content:'';
}

.article_whitebg1::before {
  background: rgba(255, 255, 255, 0.5);
}

.article_bluebg::before {
  background: rgba(0, 34, 255, 0.5);
}

.article_first1,
.article_second1 {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.article_first {
  background-image: url("1first_bg.jpg");
}

.article_second {
  background-image: url("1second_bg2.jpg");
}

.form {
  position: relative;
  width: 500px;
  margin: 0 auto;
  text-align: center;
}

.form_input,
.form_textarea {
  display: block;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 16px;
  padding: 8px 16px;
  transition: transform 0.3s ease-out;
  color: #02f;
  border: none;
  border-radius: 8px;
  outline: none;
  background-color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5em;
  font-weight: 300;
}

.form_input::-webkit-input-placeholder,
.form_textarea::-webkit-input-placeholder {
  opacity: 0.6;
  color: #02f;
}

.form_input:focus,
.form_textarea:focus {
  transition: transform 0.3s ease-out;
  transform: scale(1.02, 1.02);
}

.form_textarea {
  resize: none;
}

.form_button {
  display: inline-block;
  padding: 12px 32px;
  transition: all 0.3s ease-out;
  text-transform: uppercase;
  color: #fff;
  border: none;
  border-radius: 8px;
  outline: none;
  background-color: #02f;
  background-clip: border-box;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5em;
  font-weight: 700;
}

.form_button:hover {
  transition: all 0.3s ease-out;
  transform: scale(1.02, 1.02);
  box-shadow: rgba(255, 255, 255, 0.3) 0 0 16px 2px;
}

.black {
  color: #000;
}

.white {
  color: #fff;
  text-decoration: none
}




span {
	display: inline;
	background-color: rgba(0, 0, 0, 0.5);
	box-shadow: -10px 0 0 rgba(0, 0, 0, 0.5), 350px 0 0 rgba(0, 0, 0, 0.5);
	
	color: #FFFFFF;

}



.portfoli1o {
  display: flex;
  min-height: 100vh;
  padding: 8px 50px;
  
  background-image: url("1subtle-prism.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.portfolio__title {
  transform: translateX(0);
  animation-name: header_anim;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  text-transform: uppercase;
  color: #fff;
  align-self: center;
}

.wrapper {
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: -10px 0 0 rgba(0, 0, 0, 0.5), 0px 0 0 rgba(0, 0, 0, 0.5);
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;

}

.text {

  padding: 10px;
  max-width: 1000px;
 
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}